<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="main w-[100vw] h-[100vh] bg-zinc-300 flex items-center justify-center">
    <a href="/profile"><div class="play rounded-full bg-red-400 w-40 h-40 flex items-center p-5"><i class="ri-play-large-fill text-white text-9xl"></i></div></a>
  </div>
</body>
</html>